{% extends 'app/layout.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="heading">
        <i class="mdi mdi-view-dashboard-outline"></i><span>Dashboard</span>
    </div>

    <div class="row content-row">
        <div class="col-md-4">
            <div class="trackr-card">
                <div class="trackr-card-heading trackr-card-heading-sm">
                    <i class="mdi mdi-account"></i> <span>Visits</span>
                </div>
                <div class="row-separator">
                    <svg id="bigTriangleColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="15%" height="30"
                         viewBox="0 0 100 102" preserveAspectRatio="none">
                        <path d="M0 0 L50 100 L100 0 Z"/>
                    </svg>
                </div>

                <div class="trackr-card-content">
                    <div class="counter-digits">
                        <span class="counter-total">
                            {{ visits.total }}<sup
                                    class="{% if visits.totalDifference > 0 %} increased {% elseif visits.totalDifference < 0 %} decreased {% else %} neutral {% endif %}">{% if visits.totalDifference != '∞' %}{{ visits.totalDifference|round(1,'floor') }}{% else %}{{ visits.totalDifference }}{% endif %}%</sup>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="trackr-card trackr-card-unique">
                <div class="trackr-card-heading trackr-card-heading-sm">
                    <i class="mdi mdi-account-star"></i> <span>Unique</span>
                </div>
                <div class="row-separator">
                    <svg id="bigTriangleColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="15%" height="30"
                         viewBox="0 0 100 102" preserveAspectRatio="none">
                        <path d="M0 0 L50 100 L100 0 Z"/>
                    </svg>
                </div>

                <div class="trackr-card-content">
                    <div class="counter-digits">
                        <span class="counter-unique">
                            {{ visits.unique }}<sup
                                    class="{% if visits.uniqueDifference > 0 %} increased {% elseif visits.uniqueDifference < 0 %} decreased {% else %} neutral {% endif %}">{% if visits.uniqueDifference != '∞' %}{{ visits.uniqueDifference|round(1,'floor') }}{% else %}{{ visits.uniqueDifference }}{% endif %}%</sup>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="trackr-card trackr-card-new">
                <div class="trackr-card-heading trackr-card-heading-sm">
                    <i class="mdi mdi-account-plus"></i> <span>New players</span>
                </div>
                <div class="row-separator">
                    <svg id="bigTriangleColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="15%" height="30"
                         viewBox="0 0 100 102" preserveAspectRatio="none">
                        <path d="M0 0 L50 100 L100 0 Z"/>
                    </svg>
                </div>

                <div class="trackr-card-content">
                    <div class="counter-digits">
                        <span class="counter-new">
                            {{ visits.new }}<sup
                                    class="{% if visits.newDifference > 0 %} increased {% elseif visits.newDifference < 0 %} decreased {% else %} neutral {% endif %}">{% if visits.newDifference != '∞' %}{{ visits.newDifference|round(1,'floor') }}{% else %}{{ visits.newDifference }}{% endif %}%</sup>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row content-row">
        <div class="col-md-12">
            <div class="trackr-card trackr-card-total">
                <div class="trackr-card-heading trackr-card-heading-sm">
                    <i class="mdi mdi-magnify"></i> <span>Visits summary</span>
                </div>
                <div class="row-separator">
                    <svg id="bigTriangleColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="5%" height="30"
                         viewBox="0 0 100 102" preserveAspectRatio="none">
                        <path d="M0 0 L50 100 L100 0 Z"/>
                    </svg>
                </div>

                <div class="trackr-card-content">
                    <form class="filter-form form-inline" action="{{ path('app_filter') }}">
                        <div class="form-group">
                            <label for="datetime" style="margin-right:11px;">Search period: </label>
                            <input id="datetime" type="text" style="width:350px;" class="form-control" name="datetimes">
                        </div>
                        <div class="form-group">
                            <label for="steamid" style="margin-left:30px; margin-right:11px;">SteamID: </label>
                            <input id="steamid" type="text" name="steamid"  style="width:280px;" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="ip" style="margin-left:30px; margin-right:11px;">Ip-address: </label>
                            <input id="ip" type="text" name="ip"  style="width:280px;" class="form-control">
                        </div>
                        <div class="form-group" style="margin-left:30px;">
                            <button class="btn btn-success" type="submit"><span>Search</span></button>
                        </div>
                    </form>

                    <table class="table">
                        <thead>
                            <tr>
                                <td>Login time</td>
                                <td>SteamID</td>
                                <td>Login ip</td>
                            </tr>
                        </thead>

                        <tbody>
                        {% if visits.list is not empty %}
                            {% for visit in visits.list %}
                                <tr class="{% if visit.getUnique() %} tr-visit-unqiue {% endif %}{% if visit.getNew() %} tr-visit-new {% endif %}">
                                    <td>{{ visit.getTime() }}</td>
                                    <td><a data-container="body" data-trigger="hover"
                                           data-toggle="popover" data-placement="left"
                                           data-content="View player info" style="text-decoration: underline; color:#000;" href="{{ path('player_lookup', {steamid: visit.getSteamId()}) }}"><i class="mdi mdi-eye-outline"></i>{{ visit.getSteamId() }}</a>{% if visit.getNew() %} <i class="mdi mdi-account-plus" style="font-size:20px; color:#1B5E20;" data-container="body" data-trigger="hover"
                                                                                              data-toggle="popover" data-placement="right"
                                                                                              data-content="New user"></i> {% elseif visit.getUnique() %} <i class="mdi mdi-account-star" style="font-size:20px; color:#5E35B1;" data-container="body" data-trigger="hover"
                                                                                                                                                             data-toggle="popover" data-placement="right"
                                                                                                                                                             data-content="Unique user"></i> {% endif %}</td>
                                    <td>{{ visit.getIp() }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="3"><i class="mdi mdi-alert-decagram" style="color:#FFA000; font-size:28px;"></i><span style="position:relative; top:-4px; margin-left:10px;">This server has not yet been visited by anyone.</span></td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>

                    <div class="navigation">
                        {{ knp_pagination_render(visits.list) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
        $(function() {
            $('input[name="datetimes"]').daterangepicker({

                timePicker:true,
                timePicker24Hour: true,
                timePickerSeconds: true,
                applyButtonClasses: 'btn-primary-wa',
            {% if min_date is not null %}
                startDate: moment('{{ min_date }}'),
                minDate: moment('{{ min_date }}'),
                endDate: moment('{{ max_date }}'),
                maxDate: moment('{{ max_date }}'),
            {% endif %}
                locale: {
                    format: 'YYYY/MM/DD HH:mm:ss'
                }
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}
