<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Trackr - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" />

        <link rel="stylesheet" href="{{ asset('public/dist/css/styles.min.css') }}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@8.17.6/dist/sweetalert2.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.17.6/dist/sweetalert2.min.js"></script>
        {% block stylesheets %}{% endblock %}
        {% block top_javascripts %}{% endblock %}
    </head>
    <body>
    {% for message in app.flashes('notice') %}
        <script>
            Swal.fire({
                title: '',
                html: '{{ message|raw }}',
                type: 'info'
            });
        </script>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <script>
            Swal.fire({
                title: 'Error',
                html: '{{ message|raw }}',
                type: 'error'
            });
        </script>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <script>
            Swal.fire({
                title: 'Well done!',
                html: '{{ message|raw }}',
                type: 'success'
            });
        </script>
    {% endfor %}
        {% block body %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <script src="{{ asset('public/dist/js/bundle.min.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js"></script>
        <script type="text/javascript">
            $(function () {
                $('.size').marquee({
                    duration: 7000,
                    startVisible: true,
                    duplicated: true
                });
            });
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
